.navbar {
position: fixed;
top: 0;
width: 100%;
padding: 15px 50px;
display: flex;
justify-content: space-between;
align-items: center;
background: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(10px);
z-index: 100;
}

.logo {
color: #fff;
font-family: "Cinzel", serif;
font-size: 1.3rem;
letter-spacing: 2px;
}

.nav-links {
list-style: none;
display: flex;
gap: 2rem;
}

.nav-links a {
color: white;
text-decoration: none;
font-weight: 500;
letter-spacing: 1px;
transition: 0.3s;
}

.nav-links a:hover {
color: #b55fff;
text-shadow: 0 0 10px #b55fff;
}